*,
*::before,
*::after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(142, 68, 173);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 720px) {
    body {
        flex-direction: column;
    }
}
