*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bg-img0: url(https://images.unsplash.com/photo-1480074568708-e7b720bb3f09?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1053&amp;q=80);
    --bg-img1: url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80);
    --bg-img2: url(https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1266&amp;q=80);
    --bg-img3: url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1351&amp;q=80);
}

html,
body,
figure,
p {
    margin: 0;
    padding: 0;
}

body {
    background: #b88acb;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    background-color: white;
    height: inherit;
    width: 50%;
    padding: 5px;
}

.figure_container {
    height: 80%;
    width: 100%;
}

.figure_container > img {
    width: 100%;
    height: 100%;
}

.panel_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 100%;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel > p {
    margin-top: 5px;
}

.panel.active,
.panel:hover {
    cursor: pointer;
    color: #b88acb;
    transform: scale(1.2);
    transition: all 500ms ease-in-out;
}
