*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(239, 237, 213);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
}

.intro {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin: 10px;
}

.content {
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    background-color: rgb(71, 130, 180);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.content:nth-of-type(even) {
    transform: translateX(-400%);
}

.content.show {
    transform: translateX(0);
}

.intro + .content {
    margin-top: 20px;
}
